.movie-list-item {
  background-color: var(--color-surface-300);
  box-shadow: var(--shadow);

  display: grid;
  grid-template-columns: 4rem 1fr;
  gap: 1rem;

  padding: 1rem;

  border-radius: var(--border-radius-400);

  .visuals {
    background-image: url("/assets/images/poster-placeholder.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    overflow: hidden;

    inline-size: 100%;
    min-block-size: 0;
    block-size: auto;
    aspect-ratio: 2 / 3;

    border-radius: var(--border-radius-300);

    .poster {
      block-size: 100%;
      inline-size: 100%;
      object-fit: cover;

      border-radius: inherit;

      & .broken {
        display: none;
      }
    }
  }

  .writings {
    display: grid;
    grid-template-areas: "title action ratings" "overview overview overview" "genres genres genres";
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto 1fr auto;
    align-items: start;
    column-gap: 1rem;

    .title {
      grid-area: title;

      overflow: hidden;

      color: var(--color-primary);

      font-size: var(--fz-400);
      font-weight: 700;

      text-overflow: ellipsis;
      text-wrap: nowrap;
    }

    .action {
      grid-area: action;
    }

    .ratings {
      grid-area: ratings;
    }

    .overview {
      --line-height: 1.5;
      --max-line-count: 2;

      grid-area: overview;

      overflow: hidden;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: var(--max-line-count);

      margin-block-end: 1rem;

      font-size: var(--fz-300);
      line-height: var(--line-height);
    }

    .genres {
      grid-area: genres;

      overflow: hidden;

      display: flex;
      gap: 0.5rem;

      max-inline-size: 100%;

      > li {
        background-color: var(--color-surface-400);
        color: var(--color-text-300);

        padding: 0.25rem 0.5rem;

        border-radius: 999rem;

        font-size: var(--fz-200);
        line-height: 1;
      }
    }
  }
}
