.selection {
  display: grid;
  gap: 2rem;

  > ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1rem;

    > li {
      &:not(.create) {
        display: grid;
        grid-template-areas: "name actions" "description description";
        grid-template-columns: 1fr auto;
        gap: 0.5rem;

        .name {
          grid-area: name;

          color: var(--color-primary);

          overflow: hidden;

          font-size: var(--fz-500);
          font-weight: 700;

          text-overflow: ellipsis;
          text-decoration: underline;
          white-space: nowrap;
        }

        .actions {
          grid-area: actions;

          display: flex;
          gap: 0.5rem;
        }

        .description {
          grid-area: description;

          overflow: hidden;

          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;

          font-size: var(--fz-300);
        }
      }

      &.create {
        a {
          background-color: var(--color-surface-400);
          color: var(--color-primary);

          display: grid;
          place-content: center;

          block-size: 100%;

          padding: 1rem;

          border: 2px dashed currentColor;
          border-radius: var(--border-radius-400);

          font-size: var(--fz-700);
          line-height: 1;

          &:hover {
            background-color: var(--color-surface-300);
          }
        }
      }
    }
  }
}
